:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --accent: #f5f5f5;
  --border: #e5e5e5;
  --card: #f5f5f5;
  --bingo: #e11d48;
  --success: #93c5fd;
  --unit: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #fafafa;
    --accent: #171717;
    --border: #262626;
    --card: #171717;
    --bingo: #e11d48;
    --success: #3b82f6;
    --unit: 0.25rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Mona Sans", "AlibabaPuHuiTi-3", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-property: "all";
  transition-duration: "500ms";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  background-color: none;
  outline: none;
  -webkit-appearance: none;
}

.navButton {
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: var(--background);
  width: 3rem;
  height: 3rem;
  transition-property: all;
  transition-duration: 500ms;
}

.navButton:hover {
  background-color: var(--accent);
  opacity: 0.75;
}

.navButton:active {
  transform: scale(0.95);
  transition-duration: 300ms;
}

.accentButton {
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: var(--background);
  width: 3rem;
  height: 3rem;
  transition-property: all;
  transition-duration: 500ms;
}

.accentButton:hover {
  background-color: var(--accent);
  opacity: 0.75;
}

.accentButton:active {
  transform: scale(0.95);
  transition-duration: 300ms;
}

.ghostButton {
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: var(--background);
  transition-property: all;
  transition-duration: 500ms;
}

.ghostButton:hover {
  background-color: var(--accent);
  opacity: 0.75;
}

.iconButton {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.normalButton {
  transition-property: "all";
  transition-duration: "500ms";
}

.normalButton:hover {
  opacity: 0.9;
}

.normalButton:active {
  scale: 0.95;
  transition-duration: 300ms;
}

.invertButton:focus {
  background-color: var(--foreground);
  color: var(--background);
}

.searchBar {
  padding-block: 0.8rem;
  border-radius: 0.75rem;
  width: "100%";
  background-color: var(--accent);
  border: 2px solid transparent;
  transition-property: all;
  transition-duration: 500ms;
}

.searchBar:hover {
  background-color: var(--border);
}

.searchBar:focus {
  outline: none;
  border: 2px solid;
  background-color: var(--border);
  border-color: var(--success);
}

.input {
  padding-inline: 1rem;
  padding-block: 0.8rem;
  border-radius: 0.75rem;
  width: "100%";
  background-color: var(--accent);
  border: 2px solid transparent;
  transition-property: all;
  transition-duration: 500ms;
}

.input:hover {
  background-color: var(--border);
}

.input:focus {
  outline: none;
  border: 2px solid;
  background-color: var(--border);
  border-color: var(--success);
}

.hot-items {
  display: grid;
  gap: 0.5rem;
}

.skeleton {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@media screen and (max-width: 576px) {
  .hot-items {
    grid-template-rows: repeat(8, minmax(0, 1fr));
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .hot-items {
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hot-items {
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .hot-items {
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .hot-items {
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1920px) {
  .hot-items {
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.sidebar {
  left: 0;
  padding-inline: 0.75rem;
  padding-block: 1.25rem;
  width: 4.5rem;
  height: 100%;
  border-right: 1px solid var(--border);
}

@media screen and (max-width: 768px) {
  .sidebar {
    bottom: 0;
    padding-inline: 0.5rem;
    padding-block: 0.75rem;
    width: 100%;
    border-top: 1px solid var(--border);
    border-right: 0px transparent;
    height: 3.75rem;
  }
}
